# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data and Artifacts
models/
scripts/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log